[submodule "Vendor/Log"]
	path = Vendor/Log
	url = https://github.com/gabime/spdlog.git
[submodule "MyLittleEngine/Vendor/SDL2"]
	path = MyLittleEngine/Vendor/SDL2
	url = https://github.com/libsdl-org/SDL.git
